<div id="cloud-content-text">
  <div id="our_approach">
  </div>
  <div>
    We follow <strong>Model Driven Architecture and Design Method . </strong>We take all Business function and Business Rule/Logic decision at Architecture and Decision phase.
    <ul id="cloud_ul">
      <li>We have reduced Coding & Testimg phase effort by 60%. Also Reduce rework and Customization effort and increase Productivity.</li>
      <li>We collaborate with following Standards /Technology/products/Tools:</li>
    </ul>
    <article class="content-section1">
      <div class="col-7">
        <ul>
          <li><img src="/assets/bullet.png"/> TOGAF, Archimate, SOA Ontology</li>
          <li><img src="/assets/bullet.png"/> VMware, Xen, Hypervisor-V, vCloud Director, HL </li>
          <li><img src="/assets/bullet.png"/> CSCC, CSA, PCI-DSS, HL7 . IS-27001</li>
        </ul>
      </div>
      <div class="col-8">
        <ul>
          <li><img src="/assets/bullet.png"/> Web standard, OASIS, OMG, NIST, PCI-DSS, UML, BPMN</li>
          <li><img src="/assets/bullet.png"/> Amazon Web service, Cloud Foundry. Eucalyptus.</li>
          <li><img src="/assets/bullet.png"/> Big Data, Data center, Cloud Infrastructure and
            Cloud Computing.</li>
        </ul>
      </div>
    </article>
  </div>
</div>
<div id="cloud-content-text" style="margin: 0 0 20px;">
  <div id="our_expertise">
  </div>
  <ul id="cloud_ul">
    <li>Our Cloud Team is lead by an IT Evangelist with 24 +yrs of IT Experience, having strong
      skill in IT Management , IT Strategy, IT Architecture , Solution delivery , Quality</li>
    <li>Management and Product Development in Systems , Finance ,Manufacturing and Automobile domain.
      Having expertise in IT Architecture, Enterprise Modeling based Architecture, Enterprise Integration,
      Technology – Virtual Infrastructure , Cloud Computing , High Performance Computing, Big Data and
      Predictive Analytics, Machine Learning Algorithm.</li>
  </ul>
</div>
<div id="cloud-backgourd">
  <!-- sub navigation -->
  <article class="content-section1">
    <div class="col-5">
      <div id="yellow">
        <ul class="dashboardtabs">
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Cloud Architecture and Design <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Cloud Consultancy services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">SAAS/PAAS/IAAS services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Cloud migrations</a></div></li>
        </ul>
      </div>
    </div>
    <!-- tab "panes" -->
    <div class="dashboardpanes">
      <div class="dashboardPanels tabs" id="tab1">
        <div class="col-6">
          <div id="sub_text">
            <p>We are the industry experts in cloud and different services we provide are:</p>
            <p><strong>Enterprise Architecture services –</strong>– TOGAF based Architecture Building Blocks, Reference
              Architecture, Architecture Principle, Architecture Decision and Technology Recommendation. Virtual
              Enterprise and Virtual Data Center, Middleware Platform Integration with Private and Public Cloud.
              Enterprise Data Management Enterprise Cloud and Datacenter. Big Data and Analytics with Hadoop,
              Mahout and Machine Learning.</p>
            <p><strong>Middleware Platform Services –</strong>Web sphere – App Server, ESB, MQ,MB integration with financial
              system . Open Source – Mule ESB, Cloud Host WSO2 – ESB, Identity Management, Rules Engine,
              Process server, Net Weaver /XI Integration with Legacy System. Integration with AWS Cloud.</p>
            <p><strong>Virtualization and Cloud Services –</strong>Virtualization Platform - ESX/ESXi, vCenter Server , vShield ,
              vSphere. Cloud Platform - vSphere, vCloud Director, vCloud Network and Security, vShield. AWS
              Cloud Platform.</p>
            <p><strong>Data Mining and BIG Data Services –</strong>Hadoop, Hive, Cassendra, Hbase and Mahout – Machine
              Learning Algorithm Library. Big Data Platform - Cloud Era, Spot Fire, Green Plum, AWS EMR, MAP-R,
              SAP – HANA. Predictive Analytics Products – 11 ANTS, Salford</p>
            <p><strong>Process and Governance services–</strong>IT GRC, CMMI Audit, ITSM/ITIL, SAS 70 Type II / SSAE 16 Con
              3 , PCI-DSS , HIPAA Compliance in AWS Platform. Governing Process -CoBIT, Val IT.</p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab2"  style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs.
              You can be from any domain and if you are facing a problem on answering some very critical questions
              required to take decision for your application and infrastructure we are here to help.</p>
            <ol>
              <li>We help you redefine your problem into facts that helps you to take decisions</li>
              <li>We help you prepare a solution for your problem</li>
              <li>We help you choose the right vendor</li>
              <li>We help you choose the right platform</li>
              <li>We help you save money and time.</li>
              <li>Let us take care of your problem while you focus on your business.</li>
            </ol>
            <p>We are experts in taking cloud decision and our <strong>Decision criteria is not limited to WSO2, cloud
                foundry, open shift, cloudbees but we cover all verticals of solution approach</strong></p>
            <p>
              <strong>With our decision on your SAAS, PAAS and IAAS you are surely a winner.</strong>
            </p>
            <p>
              Your infrastructure may be right but we believe if the decision on platform is wrong even the best of
              the infrastructure will not help, so we take PAAS as the heart of the cloud decision.
            </p>
            <p>
              We assure
            <ol>
              <li>Scalability</li>
              <li>Cost efficiency to its maximum</li>
              <li>Security</li>
              <li>Accessibility</li>
            </ol>
            </p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab3"  style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>Our cloud migration services enable old and new business to migrate their entire existing and new
              infrastructure (applications + data) to cloud efficiently and securely.</p>
            <p>
              There is a tried and tested approach we follow during the process of migration
            <ol>
              <li>We analyze your existing data and application and look for its readiness to be migrated to cloud,
                if there are any customizations and changes required we will let you know in advance</li>
              <li>We will suggest you the best cloud solution based on your needs which is cost effective and
                fulfills all your business needs</li>
              <li>We will define the complete process or you can say roadmap for this migration so that we all are
                on same platform</li>
              <li>Prepare required documentation before we start the migration</li>
              <li>During migration we make sure your business is not effected in this migration process and do it
                as smoothly as possible ensuring security and efficiency at all levels with quality check</li>
              <li>Once the migration is done we run a pilot test and hand out the results to you and once you
                verify, we move it to production</li>
              <li>Proper training is given for operations and we give post delivery support and maintenance
                services</li>
            </ol>
            </p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab4"  style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>Proper training is given for operations and we give post delivery support and maintenance</p>
            <p><strong>Software as a Service (SaaS)</strong> is a software distribution model in which applications are hosted by a
              vendor or service provider and made available to customers over a network, typically the Internet.</p>
            <p><strong>Platform as a Service (PaaS)</strong> is a paradigm for delivering operating systems and associated services
              over the Internet without downloads or installation.</p>
            <p>
              <strong>Infrastructure as a Service (IaaS)</strong> involves outsourcing the equipment used to support operations,
              including storage, hardware, servers and networking components.
            </p>
            <p>The increasing selection of services delivered over the Internet is sometimes referred to as <strong>XaaS.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div style="text-align: center; margin-bottom: 35px;">
  <%= link_to image_tag("/assets/portfolio/request a quote button.png"), "/contact" %>
</div>