<div id="web-backgourd">
  <!-- sub navigation -->
  <article class="content-section1">
    <div class="col-5">
      <div id="yellow">
        <ul class="dashboardtabs">
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Custom Application Development</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Product Development Services</a></div></li>
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">SAAS/PAAS/IAAS Appication <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Development</a></div></li>
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Product Support/Maintenence <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab5">Web Services/API Development <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
        </ul>
      </div>
    </div>
    <div class="dashboardpanes">
      <div class="dashboardPanels tabs" id="tab1">
        <div class="col-6">
          <div id="sub_text">
            We specialize and love to develop custom application on <strong>Ruby on Rails framework</strong>. With good
            amount of experience in working on custom products, we not only work with you redefining your
            requirements but also work to make the final product look more usable and saleable which further
            helps our client to reduce Return on investment period and start generating quick profits. We follow
            Agile Development methodology using SCRUM and DSSM reducing the time to market for custom
            applications generating feedbacks for improvement while the product is being developed. In the end
            what you get is a totally polished product easily accepted for the masses. Clients are a part of our
            development process and to say the most important stakeholder
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab2" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            We have solid experience in working with startups and we feel
            extremely happy when our clients allow us to participate in requirements analysis phase for new
            product development. We have years of experience in developing products in multiple domain like
            social networking, data center automation, banking and finance, dating, ecommerce, CMS based apps,
            real estate, healthcare applications, vendor management networks, auctions and many more. All our
            products are built on Ruby on Rails framework. Our product development services cover all aspects
            of product development from discovery to execution.<br/>

            <p>Dine-Media specializes in early validation of your product with minimal investment using
              methodologies like prototyping, POC and R&D services. We can go ahead and do some market
              research also to check the acceptance to your new product idea. We tie up with market research
              firms. Our use of emerging technologies and agile methodologies not only make the product flexible
              as per market needs but easily acceptable</p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab3" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            These are the needs of current and future markets as more
            and more products are jumping to cloud platform every day. With growing cost of infrastructure
            there is a vital need for adopting saas, paas and iaas based infrastructure efficient application so that
            we can assure early profits by saving huge infrastructure costs.
            <p>Few benefits of Saas Model<br />
              1. Save money.<br />
              2. Save time.<br />
              3. Focus your technology budgets on competitive advantage rather than infrastructure.<br />
              4. Gain immediate access to the latest innovations.<br />
              5. Join a community of interest<br />
              6. Upgrade and downgrade your infra based on your needs<br />
              7. Quicker and smart pushing of upgrades to your app<br />
              8. Easier mobility and scalability<br />
              9. Corporate standards and version compatibility are more easily ensured<br />
              10. Risks can be mitigated and better utilization of resources<br />
            </p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab4" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            A small but effective team available 24x7x365 to help support your product and make sure it live
            and working as required with real time fixing of issues and errors that occur in your application.
            We properly plan out the maintenance hours based on the traffic the website experiences and
            considering hours of low traffic. we are giving support to our existing clients for whom we have built
            products and custom applications and they are very happy with our services. You can call this post
            delivery support.<br/>

            If you have an application that needs further upgrades and support then you can trust us with this
            job.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab5" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            We services are most important part of any application now a days and we specialize in web services
            and API development services (REST). REST defines a set of architectural principles by which you
            can design Web services that focus on a system's resources, including how resource states are
            addressed and transferred over HTTP by a wide range of clients written in different languages.
            When designing a REST API or service we follow established best practices for dealing with security
            (Authentication, Authorization, Identity Management)
            <p>
              Some benefits of API/Web services<br/>
              1. <strong>Exposing the function on to network:</strong>A Web service is a unit of managed code that can be
              remotely invoked using HTTP, that is, it can be activated using HTTP requests<br/>
              2. <strong>Connecting Different Applications:</strong>Web Services allows different applications to talk to each
              other and share data and services among themselves.<br/>
              3. <strong>Standardized Protocol:</strong>Standardized Protocol: Web Services uses standardized industry standard protocol for the
              communication. All the four layers (Service Transport, XML Messaging, Service Description and
              Service Discovery layers) uses the well defined protocol in the Web Services protocol stack. This
              standardization of protocol stack gives the business many advantages like wide range of choices,
              reduction in the cost due to competition and increase in the quality.<br/>
              4. <strong>Low Cost of communication:</strong>Web Services uses SOAP over HTTP protocol for the
              communication, so you can use your existing low cost internet for implementing Web Services.
              This solution is much less costly compared to proprietary solutions like EDI/B2B.<br/>
              5. <strong>Support for Other communication means:</strong>Beside SOAP over HTTP, Web Services can
              also be implemented on other reliable transport mechanisms. So, it gives flexibility use the
              communication means of your requirement and choice<br/>
              6. <strong>Loosely Coupled Applications:</strong>Loosely Coupled Applications: Web Services are self-describing software modules which
              encapsulates discrete functionality. Web Services are accessible via standard Internet
              communication protocols like XML and SOAP.<br/>
              7. <strong>Web Services Sharing:</strong>These days due to complexness of the business, organizations are using
              different technologies like EAI, EDI, B2B, Portals etc. for distributing computing. Web Services
              supports all these technologies, thus helping the business to use existing investments in other
              technologies.<br/>
              8. <strong>Web Services are Self Describing:</strong>Web Services are self describing applications, which reduces
              the software development time<br/>
              9. <strong>Automatic Discovery:</strong>Web Services automatic discovery mechanism helps the business to easy
              find the Service Providers. This also helps your customer to find your services easily.<br/>
              10. <strong>Business Opportunity:</strong>Web Services has opened the door to new business opportunities by
              making it easy to connect with partners.<br/>
            </p>
          </div>
        </div>
      </div>
    </div>

  </article>
</div>
<div id="design-backgourd">
  <!-- sub navigation -->
  <article class="content-section1">
    <div class="col-5">
      <div id="yellow">
        <ul class="dashboardtabs1">
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Web design/ development services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Hybrid Application development</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">Wireframe and POC Services</a></div></li>
        </ul>
      </div>
    </div>
    <div class="dashboardpanes1">
      <div class="dashboardPanels1 tabs" id="tab1">
        <div class="col-6">
          <div id="sub_text">
            We started our design wing with an aim to provide end-
            end solution to our clients under one roof and now we take care of your requirement from design
            phase to development phase to deployment and maintenance phase. Now you don’t have to take
            the headache of finding a separate design team for your product as we already have one for you. We
            follow simple agile process here in delivering designs using SCRUM. We believe this is more of
            an interactive approach and complicated process might kill the true efficiency and not give
            desired results.<br/>
            - &nbsp;&nbsp;We focus on responsive web designs following user friendly patterns. <br/>
            - &nbsp;&nbsp;Designs which are easily accepted by target user group <br />
            - &nbsp;&nbsp;W3c compliant designs <br/>
            - &nbsp;&nbsp;Tables less/div based layouts <br/>
            - &nbsp;&nbsp;Web 2.0 designs using ajax/Jquery and other JS libraries <br/>
            - &nbsp;&nbsp;We promote fresh talents with innovative ideas <br/>
            - &nbsp;&nbsp;Customized design services for different domain
          </div>
        </div>
      </div>
      <div class="dashboardPanels1 tabs" id="tab2" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            The latest innovations and acceptance of new technologies have
            forced the web developers to design a web site which run on almost all platforms and screen sizes
            ranging from desktop pc/laptop to tablets to smart phones. The application should not distort and
            run without any issues on all devices. We achieve this by using html5 and other libraries available.<br/>
            Hybrid development combines the best (or worst) of both the native and HTML5 worlds. We define
            hybrid as a web app, primarily built using HTML5 and JavaScript, that is then wrapped inside a thin
            native container that provides access to native platform features. PhoneGap is an example of the
            most popular container for creating hybrid mobile apps.<br/>
            For the most part, hybrid apps provide the best of both worlds. We have become gurus at optimizing
            JavaScript, pushing CSS to create beautiful layouts, and writing compliant HTML code that works on
            any platform can now create sophisticated mobile applications that don’t sacrifice the cool native
            capabilities.
          </div>
        </div>
      </div>
      <div class="dashboardPanels1 tabs" id="tab3" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            When clients approach us with an idea which requires huge
            investments and the client is not sure of the acceptable level from the end user and seems confused
            we often suggest him/her to move ahead with proof of concept which requires less time and budget
            to built and by launching it our clients get an idea of what users think and also gathers feedback.
            If things go well then we incorporate the feedback and upgrade the proof of concept to a full
            application.<br/>
            <strong>Some benefits of POC</strong><br/>
            -&nbsp;&nbsp;Low budget and quicker time to market<br/>
            -&nbsp;&nbsp;Generate valuable feedback from end users<br/>
            -&nbsp;&nbsp;The concept is already sold through the POC<br/>
            -&nbsp;&nbsp;Chances of getting investments from people who liked the idea<br/>
            -&nbsp;&nbsp;It gives you complete scope of work along with wireframe architecture<br/>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div style="text-align: center; margin-bottom: 35px;">
  <%= link_to image_tag("/assets/portfolio/request a quote button.png"), "/contact" %>
</div>