<!-- sub navigation -->
<article class="content-section" style="overflow: visible;">
  <div class="col-1">
    <div class="dine-welcome">
      <img src="/assets/new home/Dine media info txt.png"/>
    </div>
    <div id="social-main">
      <img src="/assets/new home/saas paas image.png"/>
    </div>
    <div class="col-3">
      <div id="design">
        <div style="height:218px;">
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: 4px;"/>
      </div>
      <div id="development">
        <div style="height:240px;">
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: -11px;"/>
      </div>
    </div>
    <div class="col-4">
      <div id="cloud">
        <div style="height:218px;">
        </div>

        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: 4px;"/>
      </div>

      <div id="support">
        <div style="height:240px;">
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 13px;  margin-top: -11px;"/>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div id="portpolio">
      <div id="slides">
        <div class="slides_container">
          <img src="/assets/new home/tv/1.png" width="380" height="220" alt="Slide 1" />
          <img src="/assets/new home/tv/2.png" width="380" height="220" alt="Slide 2" />
          <img src="/assets/new home/tv/3.png" width="380" height="220" alt="Slide 3"/>
          <img src="/assets/new home/tv/4.png" width="380" height="220" alt="Slide 4"/>
          <img src="/assets/new home/tv/5.png" width="380" height="220" alt="Slide 5"/>
          <img src="/assets/new home/tv/6.png" width="380" height="220" alt="Slide 6"/>
          <img src="/assets/new home/tv/8.png" width="380" height="220" alt="Slide 8"/>
          <img src="/assets/new home/tv/9.png" width="380" height="220" alt="Slide 9"/>
          <img src="/assets/new home/tv/10.png" width="380" height="220" alt="Slide 10"/>
          <img src="/assets/new home/tv/11.png" width="380" height="220" alt="Slide 11"/>
          <img src="/assets/new home/tv/12.png" width="380" height="220" alt="Slide 12"/>
          <img src="/assets/new home/tv/13.png" width="380" height="220" alt="Slide 13"/>
        </div>
        <div style=" left: 23px;    position: relative;    top: 125px;">
          <a href="#" class="prev"></a>
          <a href="#" class="next"></a>
          <a href="/portfolio" id="view-all"></a>
        </div>
      </div>
    </div>
    <div id="client_thinks">
      <div id="client_sub_thinks">
        <div  id="text">
          It was a pleasure working with Neeraj.  He is very competent and has mastery of ruby on rails
          <br/><br/> 
        </div>
        <div id="clint-name">Mohammad <br/> Co Founder MDIH<a href="/testimonials"><img src="/assets/new home/testimonial/read more button.png" style="float: right; left: 37px; position: relative; top: -21px;"/></a></div>
      </div>
      <div style="margin:15px 75px 10px;">
        <%= link_to image_tag("/assets/new home/get a quote button.png", :style=>"margin: -15px 0 3px 43px;"), "/contact" %>
        <div style="margin-top: 20px;">
          <%= link_to image_tag("/assets/home/facebook icon.png", :style=>"margin-left: 18px;"), "" %>
          <%= link_to image_tag("/assets/home/twitter icon.png", :style=>"margin-top: -22px; margin-left: 18px;"), "" %>
        </div>
      </div>
    </div>
  </div>
</article>