<div id="content-text">
  With more and more web applications being developed everyday and business trying to reach
  people in different ways like through pads or mobiles so that the usage grows and applications
  developed can be accessed through different means making them more usable and seamless
  transfer and storage of synchronized data. We decided to move ahead with mobile application
  development different services we provide are:
</div>
<div id="mobile-backgourd">
  <!-- sub navigation -->
  <article class="content-section1">
    <div class="col-5">
      <div id="yellow">
        <ul class="dashboardtabs">
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Iphone Application Development</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Android Phone Application</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">Extending Web to Mobile Apps</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Mobile App Consulting</a></div></li>
        </ul>
      </div>
    </div>
    <div class="dashboardpanes">
      <div class="dashboardPanels tabs" id="tab1">
        <div class="col-6">
          <div id="sub_text">
            <p>When smart phones are becoming the choice of the markets along al aged groups, you cannot ignore the
              world leader in smart phones “APPLE”. With over more than 450,000 thousand apps, one of the biggest app
              collections has not only made the lives of many people and businesses more organized and manageable but
              given huge opportunities to people to explore the huge application development segment on IOS. Equipped
              with the most desirable skills in IOS development tools like Xcode, Cocoa Touch framework and Objective C,
              we ensure that Dine-Media provides the best service and optimum solution to its client, perfecting delivery
              In-Time, On-Budget and Quality Checked. Leveraging the best of Apple's technologies and utilizing Cocoa's
              APIs, our <strong>iPhone Programmers</strong> create a tightly-integrated Xcode development experience that makes it
              easier to add animation, networking, appearance and behavior to apps. Only a few lines of coding will suffice.</p>
            <p>Our <strong>iPhone Mobile apps Development</strong> team is committed to meeting optimum time-to-market periods.
              Understanding the core processes of <strong>iPhone Native Mobile Application Development</strong>, offshore ipad
              application development, we build third-party applications that are as interactive and easy-to-use as native
              applications.</p>
            <p>Our group of young trained professionals has varied experience. With intense focused on offering customers
              with the top quality technology suitable for them at the best price imaginable.</p>
            <p>Our group of technocrats are proactively seeking and working on cutting edge technologies so that you get
              the perfect solution to your problems. This also keeps us poised to address future needs of our customers as
              well.</p>
            <p>
              <strong>Our Offerings for iOS Mobile Application Development</strong><br/>
            <ul>
              <li>iphone / Ipad eBooks & E-learning Application Development</li>
              <li>iPhone Catalogue Application Development</li>
              <li>iPhone / Ipad Business Application Development</li>
              <li>iPhone / Ipad Enterprise Application Development</li>
              <li>iPhone / iPad compatible Mobile Website Development</li>
              <li>iPhone Web Service Integration</li>
              <li>iPad Digital Album Development</li>
              <li>iPad Tablet Application Development</li>
              <li>iPhone Mobile App Development</li>
              <li>iPhone Social networking Application Development & Integration</li>
              <li>iPhoe GPS, Bluetooth, Push APNS, Google MAP integration</li>
              <li>Porting iPhone App to iPad App</li>
              <li>Porting iPhone App to iPad App</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab2" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>With more and more market players adopting android
              platform and delivering cost effective devices in comparison to Apple’s IPhone and IPad,
              the opportunities are limitless in reaching to those millions who are ready to test your
              application on their android devices.</p>
            <p>
              <strong>Our Offerings for Android Mobile Applications Development</strong><br/>
            <ul>
              <li>eBooks /e-Learning Application Development</li>
              <li><strong>Android Application Development</strong></li>
              <li><strong>Android Mobile Apps Development</strong></li>
              <li>Android Catalogue Application Development</li>
              <li>Android Business Application Development</li>
              <li>Android Enterprise Application Development</li>
              <li>Android compatible Mobile Website Development</li>
              <li><strong>Hire Android Mobile Apps developer</strong></li>
              <li>Android PC Application Development</li>
              <li>Android Social networking Application & Integration</li>
              <li>Android GPS, Bluetooth, Push APIs, Google MAP integration</li>
              <li>Hire Android Application Developer</li>
              <li>2.2 and 4.2 SDK Compatible <strong>Android Apps Development</strong></li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab3" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>More and more people are demanding hybrid application
              which works on all screen sizes so we at Dine-Media took a hybrid approach where we build
              application using HTML-5 and Java Script which are optimized to run on all platforms and
              screen sizes so it may be a desktop or a mobile device the application adjusts itself to the
              given screen size. Not all users will go and search the google store or Apple’s App store to
              search and download the application instead they will directly try to open the application
              using mobile browser and there goes our chance where we can stand out by giving a hybrid
              application. There is no secret recipe to developing hybrid applications, it’s just smart work
              .</p>
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab4" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            <p>We also do windows and blackberry application
              development but since the market share is less as compared to IOS and Android we suggest
              our client to invest money in IOS and Android platforms as they are in majority. If you have
              got a web application and want to go for a mobile application development you can trust
              us with the right decision of the right platform suggestion. Luckily we did some research
              on different mobile platform used in different markets and we figured out that different
              demographics have different choice of preferred brands and platforms. For example in
              Australia mainly people prefer IPhones and Ipads where in US the trend is changing and
              people are moving towards Android. So given a chance we would definitely give you the best
              technological platform choice based on target audience type along with consideration of
              other factors.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div style="text-align: center; margin-bottom: 35px;">
  <%= link_to image_tag("/assets/portfolio/request a quote button.png"), "/contact" %>
</div>