<div id="faq_content_bg">
  <div style="text-transform: none;line-height: 8px;">
    <div id="test-text">
      Neeraj and Harish were a pleasure to work with again!   They were knowledgeable, attentive, and consistent with the quality of work they provided throughout the duration of this project.  We are very satisfied overall with both the product we were delivered, as well as the value we received.  We look forward to working with them again, and continuing to develop our professional relationship with such a great team!
      <br /><em>-&nbsp;Steven Quintanilla - Founder Kirpeep.com</em>
    </div><br />
    <div id="test-text">
      Om has been an extremely valuable team member in the project.
      He has proven to be knowledgeable, versatile and provides good quality work.
      I recommend him to any employer.  Helder Aranha
      <br /><em>-&nbsp;manager at Luxury boy toys..</em>
    </div><br />
    <div id="test-text">
      OM has provided kirpeep.com with a product that is what we expected.
      Flexible, quality work, and great cooperation.
      Would recommend him, and will continue to work with him
      <br /><em>-&nbsp;Steven Quintanilla - Founder Kirpeep.com</em>
    </div><br />
    <div id="test-text">
      Neeraj did an excellent job implementing our messaging system. Wish he was able to be available via IM during the same hours as the rest of the team, but at least he delivered. And when he delivered it was a lot more than most other devs could do in the same time frame.
      <br /><em>-&nbsp;Mike from Smullin Design team</em>
    </div><br />
    <div id="test-text">
      Happy with most aspects of the contract. Would recommend again
      Adam Radziszewski
      <br /><em>-&nbsp; founder at homecca.com</em>
    </div><br />
    <div id="test-text">
      Very good work, communication, and good use of time.Good back-end Rails developer. Good English skills. Would hire again under different circumstances.
      <br /><em>-&nbsp;Adam Radziszewski - founder at homecca.com</em>
    </div><br />
     <div id="test-text">
       It was a pleasure working with Neeraj.  He is very competent and has mastery of ruby on rails
      <br /><em>-&nbsp; Mohammad - Co Founder MDIH</em>
    </div><br />
     <div id="test-text">
      Nice working with you Neeraj! It was a pleasure
      <br /><em>-&nbsp; Alex Mittelstaedt Founder at Tatango.com</em>
    </div><br />
    <div id="test-text">
     Great developer and we will be working together in the future
      <br /><em>-&nbsp; Andrew Quell Founder at eduposts.com</em>
    </div><br />
     <div id="test-text">
     Very fast and detailed work. I'am excited to continue working with Neeraj
      <br /><em>-&nbsp; Andrew Quell Founder at eduposts.com</em>
    </div><br />
    <div id="test-text">
     I admire your team's analytical and technical skills and I am extremely impressed with your prompt actions and timely deliveries. I wish Dine-Media a bright future and success in their future endeavors.
      <br /><em>-&nbsp; Amit Mittal,smartquotez.com</em>
    </div><br />
  </div>
</div>